<section id="about" class="add-padding bg-color2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 scrollimation fade-right d1">
                <img class="img-responsive polaroid" src="/images/about.jpg?v=2025-09-13" alt="Andy Forscutt" />
            </div>
            <div class="col-sm-6 scrollimation fade-left d3">
                <h2 class="big-text">Andy Forscutt</h2>
                <p class="lead">
                    Hi, I&#39;m a freelance <strong>Web Designer and Developer</strong> who can help your business put out a beautiful
                    website, quickly and easily.
                </p>

                <p>
                    I am a web professional, working full-time as Technical Manager for <a target="_blank" class="whitelink"
                        href="https://aub.ac.uk">AUB (Arts University Bournemouth)</a>. I do freelance projects in my spare time. I pride myself on
                    my people skills. This means I can effectively communicate with you regardless of your technical knowledge, making things
                    clear, straight-forward and enjoyable.
                </p>

                <p>
                    I like my sites to be clean, accessible and memorable. <strong>Every project is different, so I give a free quotation depending
                        on what is required</strong>. I&#39;m sure I can help with your next project.
                </p>

                <p>
                    <a class="btn btn-white scrollto" href="#skills" role="button" id="skills-btn">
                        Check out my skills <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>