<footer id="main-footer" class="add-padding bg-color3 border-top-color2">
    <div class="container">
        <ul class="social-links text-center">
            <li>
                <a target="_blank" href="https://twitter.com/aforscutt" title="Twitter">
                    <span class="sr-only">X</span>
                    <i class="fa fa-twitter fa-fw" aria-label="Twitter"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://facebook.com/aforscuttdesign" title=Facebook>
                    <span class="sr-only">Facebook</span>
                    <i class="fa fa-facebook fa-fw" aria-label=Facebook></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/aforscutt" title=LinkedIn>
                    <span class="sr-only">LinkedIn</span>
                    <i class="fa fa-linkedin fa-fw" aria-label=Linkedin></i>
                </a>
            </li>
            <li>
                <a href="mailto:aforscuttdesign@gmail.com" title="Email Me">
                    <span class="sr-only">Email</span>
                    <i class="fa fa-envelope fa-fw" aria-label=Email></i>
                </a>
            </li>
        </ul>
        <p class="text-center">
            <a href="#home" class=scrollto id=back-to-top>Back to Top <i class="fa fa-level-up" aria-hidden=true></i></a>
        </p>
        <p class="text-center copyright" id="copyright">&copy; A Forscutt Design</p>
        <p class="text-center copyright" id="footer-info">Web Design &amp; Development</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.masonry.min.js"></script>
<script src="/js/jquery.flexslider.min.js"></script>
<script src="/js/jquery.backstretch.min.js"></script>
<script src="/js/contact.js"></script>
</body>

</html>