<!doctype html>
<html lang="en-GB">

<head>
    {{> htmlHead}}
</head>

<body data-spy="scroll" data-target="#main-nav" data-offset="200">
    <div id="page-loader">
        <span class="page-loader-gif"></span>
    </div>