<div id="main-nav" class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scrollto" href="#home">
                <img src="/images/logo.png" id="logo" alt="A Forscutt Design Logo" />
                <span class="title">A Forscutt Design</span>
            </a>
        </div>

        <div id="site-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="sr-only">
                    <a href="#home" class="scrollto">Home</a>
                </li>
                <li>
                    <a href="#about" class="scrollto">About Me</a>
                </li>
                <li>
                    <a href="#services" class="scrollto">Services</a>
                </li>
                <li>
                    <a href="#portfolio" class="scrollto">Portfolio</a>
                </li>
                <li>
                    <a href="#contact" class="scrollto">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>