<section id="portfolio" class="add-padding">
    <div class="container">
        <h2 class="big-text text-center scrollimation fade-in">Portfolio</h2>
        <div id="filter-works">
            <ul>
                <li class="active scrollimation fade-right d1">
                    <a href="#" data-filter="*">All</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter=".design">Design</a>
                </li>
                <li class="scrollimation fade-left">
                    <a href="#" data-filter=".dev">Development</a>
                </li>
                <li class="scrollimation fade-left d1">
                    <a href="#" data-filter=".mobile">Mobile</a>
                </li>
                <li class="scrollimation fade-left d1">
                    <a href="#" data-filter=".seo">SEO</a>
                </li>
            </ul>
        </div>

        <div id="project-preview">
            <span class="close-preview">&times;</span>
            <div id="project-slider" class="flexslider"></div>
            <h2 id="project-title"></h2>
            <div id="project-content"></div>
        </div>
    </div>

    <div class="container masonry-wrapper">
        <div id="projects-container">
            <article class="project-item design dev mobile masonry-brick" style="position: absolute; top: 0px; left: 0px;">
                <img class="img-responsive project-image" width="400" height="300" src="/images/projects/smt/smt-thumbnail.png"
                    alt="Sedgemoor Motorcycle Training Thumbnail">
                <div class="hover-mask">
                    <h2 class="project-title">Sedgemoor Motorcycle Training</h2>
                    <p class="project-skills">
                        <span class="skill">design</span> <span class="skill">development</span> <span class="skill">mobile</span>
                    </p>
                </div>

                <div class="sr-only project-description"
                    data-images="/images/projects/tom-selina/thomas-and-selina.jpg, /images/projects/tom-selina/thomas-and-selina-2.jpg, /images/projects/tom-selina/thomas-and-selina-3.jpg">
                    <p>
                        I was recommended due to recent success with Local Search Engine Optimisation (SEO). Sedgemoor Motorcycle Training wanted
                        a design to make them stand
                        out from their competition and to rank highly with search engines for local searches.
                    </p>
                    <a class="btn btn-color2" target="_blank" href="https://sedgemoormotorcycletraining.co.uk/"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i>Visit Website</a>
                </div>
            </article>

            <article class="project-item design dev mobile masonry-brick" style="position: absolute; top: 0px; left: 0px;">
                <img class="img-responsive project-image" src="/images/projects/thumb-9.jpg" alt="Buzz Interior Design Thumbnail">
                <div class="hover-mask">
                    <h2 class="project-title">Buzz Interior Design</h2>
                    <p class="project-skills">
                        <span class="skill">design</span> <span class="skill">development</span> <span class="skill">mobile</span>
                    </p>
                </div>
                <div class="sr-only project-description"
                    data-images="/images/projects/tom-selina/thomas-and-selina.jpg, /images/projects/tom-selina/thomas-and-selina-2.jpg, /images/projects/tom-selina/thomas-and-selina-3.jpg">
                    <p>
                        This Dorset based Interior Design company had re-branded and wanted a new website to match their new logo. I designed a
                        Bee based look with honeycomb background, beelines and bullet points. I developed a platform for them to add their own
                        content to showcase the great
                        Interior Design work they do.
                    </p>
                    <a class="btn btn-color2" target="_blank" href="https://buzzinteriordesign.co.uk/"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i>Visit Website</a>
                </div>
            </article>

            <article class="project-item design dev mobile masonry-brick" style="position: absolute; top: 0px; left: 0px;">
                <img class="img-responsive project-image" src="/images/projects/thumb-7.jpg" alt="Thomas and Selina Thumbnail">
                <div class="hover-mask">
                    <h2 class="project-title">Thomas &amp; Selina</h2>
                    <p class="project-skills">
                        <span class="skill">design</span> <span class="skill">development</span> <span class="skill">mobile</span>
                    </p>
                </div>
                <div class="sr-only project-description" data-images="/images/projects/tom-selina/thomas-and-selina.jpg, /images/projects/tom-selina/thomas-and-selina-2.jpg, /images/projects/tom-selina/thomas-and-selina-3.jpg										
				">
                    <p>
                        Thomas and Selina are network marketeers who wanted a coaching and mentoring website to inspire people to become the best
                        versions of themselves.<br>
                        <br>
                        They required a content management system to deliver a blogging platform, contact form and event management system. The
                        design matched their family brand, and created the vibe they were looking for.
                    </p>
                </div>
            </article>

            <article class="project-item design dev mobile seo  masonry-brick" style="position: absolute; top: 0px; left: 0px;">
                <img class="img-responsive project-image" src="/images/projects/thumb-6.jpg" alt="SAS Welding Services Thumbnail">
                <div class="hover-mask">
                    <h2 class="project-title">SAS Welding Services</h2>
                    <p class="project-skills">
                        <span class="skill">design</span> <span class="skill">development</span> <span class="skill">mobile</span> <span
                            class="skill">seo</span>
                    </p>
                </div>
                <div class="sr-only project-description" data-images="
							/images/projects/sas/sas-desktop.jpg,
							/images/projects/sas/sas-desktop-2.jpg,
							/images/projects/sas/sas-desktop-3.jpg,
							/images/projects/sas/sas-mobile-view.png,
							/images/projects/sas/sas-seo.jpg">
                    <p>
                        SAS Welding Services are a Welding and Fabrication company based in Glastonbury, Somerset. They wanted a WordPress content
                        management system to showcase their work, along with a mobile friendly design.<br>
                        <br>
                        I carried out <strong>SEO work</strong> to ensure they ranked well in search results, which is vital for local businesses.
                        They have seen a huge rise in enquiries from across Somerset with the associated extra income.
                    </p>
                    <a class="btn btn-color2" target="_blank" href="http://www.sasweldingservices.com/"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i>Visit Website</a>
                </div>
            </article>

            <article class="project-item design mobile">
                <img class="img-responsive project-image" src="/images/projects/thumb-1.png" alt="Cats Eye Training thumbnail">
                <div class="hover-mask">
                    <h2 class="project-title">Cats Eye Training</h2>
                    <p>design / mobile</p>
                </div>
                <div class="sr-only project-description"
                    data-images="/images/projects/catseye/catseye1.png,/images/projects/catseye/catseye-mobile-teal.png">
                    <p>Cats Eye are a marketing, consultancy and training company who required a complete redesign of their website.</p>
                    <p>They wanted a fresh look with a metro tile effect for the home page, which would scale nicely for mobile devices.</p>
                    <p>The site uses CSS animations on the home page tiles, and is fully responsive throughout. They wanted a quick turnaround, so
                        I produced the site within a week for them.</p>
                    <a class="btn btn-color2" target="_blank" href="http://www.catseyetraining.co.uk/"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i>Visit Website</a>
                </div>
            </article>

            <article class="project-item design dev mobile">
                <img class="img-responsive project-image" src="/images/projects/thumb-5.png" alt="eVision">
                <div class="hover-mask">
                    <h2 class="project-title">eVision</h2>
                    <p>design / development / mobile</p>
                </div>
                <div class="sr-only project-description"
                    data-images="/images/projects/evision/eVision-1.png,/images/projects/evision/eVision-2.png, /images/projects/evision/evision-mobile-teal.png">
                    <p>eVision is the student record system used by my employer AUB (Arts University Bournemouth).</p>
                    <p>My brief was to improve the user experience by bringing it up to modern web standards, with a clean and accessible user
                        interface, featuring a tile-based layout.</p>
                    <p>Student facing screens adopted a responsive design optimised for mobile devices using the Bootstrap framework. <strong>My
                            work won a national award from Tribal Group for most improved student experience.</strong>It was also nominated for an
                        award in innovation.</p>
                    <a class="btn btn-color2" target="_blank" href="https://evision.aub.ac.uk/live/sits.urd/run/siw_lgn"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i>View Website</a>
                </div>
            </article>

            <article class="project-item design dev mobile">
                <img class="img-responsive project-image" src="/images/projects/thumb-8.jpg" alt="AUB Online Applications">
                <div class="hover-mask">
                    <h2 class="project-title">AUB Online Applications</h2>
                    <p>design / development / mobile</p>
                </div>
                <div class="sr-only project-description"
                    data-images="/images/projects/online-apps/online-apps-1.jpg,/images/projects/online-apps/online-apps-2.jpg, /images/projects/online-apps/online-apps-3.jpg">
                    <p>This online application system was for my employer AUB (Arts University Bournemouth).</p>
                    <p>I implemented a radical new design with the vibrant look and feel you would expect from a leading Arts University.</p>
                    <p>It featured a responsive design optimised for mobile devices and attention was made to a nice user interface. <strong>My
                            work won a national award from Tribal Group for most improved student experience.</strong></p>
                    <a class="btn btn-color2" target="_blank" href="https://evision.aub.ac.uk/live/sits.urd/run/siw_ipp_lgn.login"><i
                            class="fa fa-arrow-right" aria-hidden="true"></i>View Website</a>
                </div>
            </article>

            <article class="project-item design dev">
                <img class="img-responsive project-image" src="/images/projects/thumb-2.png" alt="Fit Girl Slim thumbnail">
                <div class="hover-mask">
                    <h2 class="project-title">Fit Girl Slim</h2>
                    <p>design / development</p>
                </div>
                <div class="sr-only project-description" data-images="/images/projects/fgs/fitgirlslim1.png,/images/projects/fgs/fitgirlslim2.png">
                    <p>Fit Girl Slim is a high-end Personal Trainer service.</p>
                    <p>My brief was to design a site which had the luxury feel to match their high-end prestige fitness service.</p>
                    <p>Development included a contact form with automated emails and validation. Also some JavaScript work was carried out to make
                        the testimonials more interesting. </p>
                </div>
            </article>

            <article class="project-item design">
                <img class="img-responsive project-image" src="/images/projects/thumb-3.png" alt="Three B Design Thumbnail">
                <div class="hover-mask">
                    <h2 class="project-title">Three B Design</h2>
                    <p>design</p>
                </div>
                <div class="sr-only project-description" data-images="/images/projects/threeb/threebdesign1.jpg">
                    <p>Three B Design are an Interior Design company from Bournemouth.</p>
                    <p>They were looking for a dark coloured website to match existing branding.</p>
                    <p>Working in the design industry they wanted a site to match their style and eye for detail.</p>
                </div>
            </article>
        </div>
    </div>
</section>