<section id="portfolio" class="add-padding">
    <div class="container">
        <h2 class="big-text text-center scrollimation fade-in">Portfolio</h2>
        <div id="filter-works">
            <ul>
                <li class="active scrollimation fade-right d1">
                    <a href="#" data-filter="*">All</a>
                </li>
                <li class="scrollimation fade-right">
                    <a href="#" data-filter=".design">Design</a>
                </li>
                <li class="scrollimation fade-left">
                    <a href="#" data-filter=".dev">Development</a>
                </li>
                <li class="scrollimation fade-left d1">
                    <a href="#" data-filter=".mobile">Mobile</a>
                </li>
                <li class="scrollimation fade-left d1">
                    <a href="#" data-filter=".seo">SEO</a>
                </li>
            </ul>
        </div>

        <div id="project-preview">
            <span class="close-preview">&times;</span>
            <div id="project-slider" class="flexslider"></div>
            <h2 id="project-title"></h2>
            <div id="project-content"></div>
        </div>
    </div>

    <div class="container masonry-wrapper">
        <div id="projects-container">
            {{> projects/loftsAndLadders}}

            {{> projects/smt}}

            {{> projects/buzz}}

            {{> projects/tomSelina}}

            {{> projects/sasWelding}}

            {{> projects/catsEye}}

            {{!-- {{> projects/evision}}

            {{> projects/onlineApps}} --}}

            {{> projects/fgs}}

            {{> projects/threeB}}
        </div>
    </div>
</section>