<section id="services" class="add-padding">
    <div class="container">
        <h2 class="section-title big-text scrollimation fade-up">My Services</h2>
        <div class="row">
            <div class="col-sm-4 service-item color3 scrollimation scale-in">
                <div class="service-icon">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </div>
                <h3>Web Designer</h3>
                <p>My HTML and CSS skills are awesome, combined with an eye for detail to give you a beautiful website design you will love.</p>
                <p>I will listen to your needs to understand how I can make you stand out from the crowd with a website you can be proud of.</p>
                <p class="text-primary visible-xs"><small>Clean, modern &amp; everything you want.</small></p>
            </div>

            <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
                <div class="service-icon">
                    <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
                </div>
                <h3>Responsive Design</h3>
                <p>
                    I love responsive web design, so your website will scale and adjust gracefully looking fabulous on all devices.
                </p>
                <p>
                    I excel in converting old websites into shiney new ones which are mobile friendly and adhere to modern standards.
                </p>
                <p class="text-primary visible-xs">
                    <small>Mobile. Tablet. Desktop.</small>
                </p>
            </div>

            <div class="col-sm-4 service-item color2 scrollimation scale-in d2">
                <div class="service-icon">
                    <i class="fa fa-code" aria-hidden="true"></i>
                </div>
                <h3>Developer</h3>
                <p>I can make your site interactive and perform exciting actions using PHP and JavaScript.</p>
                <p>From log-in screens to forms, ecommerce&nbsp;to Content Management Systems, Databases to Social Media Integration.</p>
                <p class="text-primary visible-xs"><small>I eat code for breakfast...with full fat milk &amp; blueberries on top!</small></p>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-sm-4 service-item color2 scrollimation scale-in d2">
                <p class="text-primary">
                    <small>Clean, modern &amp; everything you want.</small>
                </p>
            </div>

            <div class="col-sm-4 service-item color2 scrollimation scale-in d2">
                <p class="text-primary">
                    <small>Mobile. Tablet. Desktop.</small>
                </p>
            </div>

            <div class="col-sm-4 service-item color2 scrollimation scale-in d2">
                <p class="text-primary">
                    <small>I eat code for breakfast...with full fat milk &amp; blueberries on top!</small>
                </p>
            </div>
        </div>
    </div>
</section>