<section id="skills" class="add-padding border-bottom-color2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 text-left scrollimation fade-up d1">
                <h2 class="big-text">My skills </h2>
                <p class="lead">I am an all-round web professional.</p>
                <p>My skills cover all aspects of web design and development.</p>
                <p>I have enthusiasm to learn, and like to stay on top of things as new techniques and frameworks emerge, meaning my work is
                    always cutting&nbsp;edge.</p>
                <ul id=skills-list>
                    <li>JavaScript &amp; Node.js</li>
                    <li>WordPress &amp; other Content Management Systems</li>
                    <li>SQL Databases eg. MySQL, SQL&nbsp;Server, Oracle</li>
                    <li>e-Commerce</li>
                    <li>Blogs &amp; Forums</li>
                    <li>Integrations and Automations</li>
                    <li>Page Speed &amp; Search Engine Optimisation</li>
                </ul>
                <p>
                    View my skills profile on <a href="https://www.linkedin.com/in/aforscutt/" target="_blank" id="thouse">LinkedIn</a>
                </p>
            </div>

            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <div class="skills-bars">
                    <div class="skills-item skill1">
                        <span class=percent data-percent="80">80%</span>
                        <p>JavaScript</p>
                    </div>
                    <div class="skills-item skill2">
                        <span class=percent data-percent="60">60%</span>
                        <p>PHP</p>
                    </div>
                    <div class="skills-item skill3">
                        <span class="percent" data-percent="95">95%</span>
                        <p>HTML</p>
                    </div>
                    <div class="skills-item skill4">
                        <span class=percent data-percent="80">80%</span>
                        <p>CSS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>