<section id="testimonials" class="add-padding bg-color1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="testi">
                <h2 class="big-text scrollimation fade-up d1">Testimonials</h2>
                <p class="lead">Hear what previous clients have to say about me.</p>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h3 class="scrollimation fade-in">David Alexander, Cats Eye Training</h3>
                            <p class=lead>&ldquo;Andy understood our needs immediately and was a pleasure to work with. We are delighted with our
                                new site.&rdquo;</p>
                        </div>

                        <div class="item">
                            <h3 class="scrollimation fade-in">Sammy Bragg, Three B Design</h3>
                            <p class=lead>&ldquo;We are really pleased and will most certainly have no hesitation in recommending Andy to
                                anyone.&rdquo;</p>
                        </div>

                        <div class="item">
                            <h3 class="scrollimation fade-in">Lisa A. - Fit Girl Slim</h3>
                            <p class=lead>&ldquo;Andy is fantastic to work with and makes everything clear to understand. He is a star!&rdquo;</p>
                        </div>
                    </div>

                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden=true></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>