<header id="home">
    <div class="container text-center" id="welcome">
        <p>Welcome to</p>
        <h1>A Forscutt Design</h1>
        <p>Web Design <span id=ampersand>&amp;</span> Development</p>
    </div>
</header>