<article class="project-item design mobile">
    <img class="img-responsive project-image" src="/images/projects/thumb-1.png" alt="Cats Eye Training thumbnail">
    <div class="hover-mask">
        <h2 class="project-title">Cats Eye Training</h2>
        <p>design / mobile</p>
    </div>
    <div class="sr-only project-description" data-images="/images/projects/catseye/catseye1.png,/images/projects/catseye/catseye-mobile-teal.png">
        <p>
            Cats Eye are a marketing, consultancy and training company who required a complete redesign of their website.
        </p>

        <p>
            They wanted a fresh look with a metro tile effect for the home page, which would scale nicely for mobile devices.
        </p>

        <p>
            The site uses CSS animations on the home page tiles, and is fully responsive throughout. They wanted a quick turnaround, so
            I produced the site within a week for them.
        </p>
    </div>
</article>