<article class="project-item design dev mobile">
    <img class="img-responsive project-image" src="/images/projects/thumb-5.png" alt="eVision">
    <div class="hover-mask">
        <h2 class="project-title">eVision</h2>
        <p>design / development / mobile</p>
    </div>
    <div class="sr-only project-description"
        data-images="/images/projects/evision/eVision-1.png,/images/projects/evision/eVision-2.png, /images/projects/evision/evision-mobile-teal.png">
        <p>
            eVision is the student record system used by my employer AUB (Arts University Bournemouth).
        </p>

        <p>
            My brief was to improve the user experience by bringing it up to modern web standards, with a clean and accessible user
            interface, featuring a tile-based layout.
        </p>

        <p>
            Student facing screens adopted a responsive design optimised for mobile devices using the Bootstrap framework. <strong>My work won a
                national award from Tribal Group for most improved student experience.</strong>It was also nominated for an
            award in innovation.
        </p>

        <a class="btn btn-color2" target="_blank" href="https://evision.aub.ac.uk/live/sits.urd/run/siw_lgn">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>View Website
        </a>
    </div>
</article>