<article class="project-item design dev">
    <img class="img-responsive project-image" src="/images/projects/thumb-2.png" alt="Fit Girl Slim thumbnail">
    <div class="hover-mask">
        <h2 class="project-title">Fit Girl Slim</h2>
        <p>design / development</p>
    </div>
    <div class="sr-only project-description" data-images="/images/projects/fgs/fitgirlslim1.png,/images/projects/fgs/fitgirlslim2.png">
        <p>
            Fit Girl Slim is a high-end Personal Trainer service.
        </p>

        <p>
            My brief was to design a site which had the luxury feel to match their high-end prestige fitness service.
        </p>

        <p>
            Development included a contact form with automated emails and validation. Also some JavaScript work was carried out to make
            the testimonials more interesting.
        </p>
    </div>
</article>