<article class="project-item design dev mobile seo masonry-brick" style="position: absolute; top: 0px; left: 0px;">
    <img class="img-responsive project-image" src="./images/projects/thumb-6.png" alt="IJB Plumbing Thumbnail">
    <div class="hover-mask">
        <h2 class="project-title">IJB Plumbing &amp; Heating Ltd</h2>
        <p class="project-skills">
            <span class="skill">design</span> <span class="skill">development</span> <span class="skill">mobile</span> <span class="skill">seo</span>
        </p>
    </div>
    <div class="sr-only project-description"
        data-images="./images/projects/ijbPlumbing/ijb-plumbing-heating-1.png, ./images/projects/ijbPlumbing/ijb-plumbing-heating-2.png, ./images/projects/ijbPlumbing/ijb-plumbing-heating-3.png">
        <p>
            IJB Plumbing &amp; Heating Ltd is a plumbing and heating company based in Rownhams, Southampton. They were looking for a website to
            showcase their services and achieve a good search rank for local searches online.
        </p>

        <a class="btn btn-color2" target="_blank" href="https://ijbplumbing-heating.co.uk/">
            <i class="fa fa-arrow-right" aria-hidden=true></i>Visit Website
        </a>
    </div>
</article>