<article class="project-item design dev mobile seo">
    <img class="img-responsive project-image" src="/images/projects/thumb-5.png" alt="eVision">
    <div class="hover-mask">
        <h2 class="project-title">Lofts &amp; Ladders UK</h2>
        <p>design / development / mobile / SEO</p>
    </div>
    <div class="sr-only project-description"
        data-images="/images/projects/evision/eVision-1.png,/images/projects/evision/eVision-2.png, /images/projects/evision/evision-mobile-teal.png">
        <p>
            Lofts &amp; Ladders UK is a local provider of home improvement services specialising in Loft Ladders, Loft Boarding and Loft Hatches.
        </p>

        <p>
            Alongside a full site redesign, I structured the site to be more user friendly and improve SEO.
        </p>

        <a class="btn btn-color2" target="_blank" href="https://loftsandladdersuk.co.uk/">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>View Website
        </a>
    </div>
</article>