<article class="project-item design dev mobile">
    <img class="img-responsive project-image" src="/images/projects/thumb-8.jpg" alt="AUB Online Applications">
    <div class="hover-mask">
        <h2 class="project-title">AUB Online Applications</h2>
        <p>design / development / mobile</p>
    </div>
    <div class="sr-only project-description"
        data-images="/images/projects/online-apps/online-apps-1.jpg,/images/projects/online-apps/online-apps-2.jpg, /images/projects/online-apps/online-apps-3.jpg">
        <p>
            This online application system was for my employer AUB (Arts University Bournemouth).
        </p>

        <p>
            I implemented a radical new design with the vibrant look and feel you would expect from a leading Arts University.
        </p>

        <p>
            It featured a responsive design optimised for mobile devices and attention was made to a nice user interface. <strong>My
                work won a national award from Tribal Group for most improved student experience.</strong>
        </p>

        <a class="btn btn-color2" target="_blank" href="https://evision.aub.ac.uk/live/sits.urd/run/siw_ipp_lgn.login">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>View Website
        </a>
    </div>
</article>