<article class="project-item design dev mobile seo  masonry-brick" style="position: absolute; top: 0px; left: 0px;">
    <img class="img-responsive project-image" src="/images/projects/thumb-6.jpg" alt="SAS Welding Services Thumbnail">
    <div class="hover-mask">
        <h2 class="project-title">SAS Welding Services</h2>
        <p class="project-skills">
            <span class="skill">design</span> <span class="skill">development</span> <span class="skill">mobile</span> <span class="skill">seo</span>
        </p>
    </div>
    <div class="sr-only project-description" data-images="
							/images/projects/sas/sas-desktop.jpg,
							/images/projects/sas/sas-desktop-2.jpg,
							/images/projects/sas/sas-desktop-3.jpg,
							/images/projects/sas/sas-mobile-view.png,
							/images/projects/sas/sas-seo.jpg">
        <p>
            SAS Welding Services are a Welding and Fabrication company based in Glastonbury, Somerset. They wanted a WordPress content
            management system to showcase their work, along with a mobile friendly design.
        </p>

        <p>
            I carried out <strong>SEO work</strong> to ensure they ranked well in search results, which is vital for local businesses.
            They have seen a huge rise in enquiries from across Somerset with the associated extra income.
        </p>

        <a class="btn btn-color2" target="_blank" href="http://www.sasweldingservices.com/">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>Visit Website
        </a>
    </div>
</article>