<article class="project-item design">
    <img class="img-responsive project-image" src="/images/projects/thumb-3.png" alt="Three B Design Thumbnail">
    <div class="hover-mask">
        <h2 class="project-title">Three B Design</h2>
        <p>design</p>
    </div>
    <div class="sr-only project-description" data-images="/images/projects/threeb/threebdesign1.jpg">
        <p>
            Three B Design are an Interior Design company from Bournemouth.
        </p>

        <p>
            They were looking for a dark coloured website to match existing branding.
        </p>

        <p>
            Working in the design industry they wanted a site to match their style and eye for detail.
        </p>
    </div>
</article>