<article class="project-item design dev mobile masonry-brick" style="position: absolute; top: 0px; left: 0px;">
    <img class="img-responsive project-image" src="/images/projects/thumb-7.jpg" alt="Thomas and Selina Thumbnail">
    <div class="hover-mask">
        <h2 class="project-title">Thomas &amp; Selina</h2>
        <p class="project-skills">
            <span class="skill">design</span> <span class="skill">development</span> <span class="skill">mobile</span>
        </p>
    </div>

    <div class="sr-only project-description"
        data-images="/images/projects/tom-selina/thomas-and-selina.jpg, /images/projects/tom-selina/thomas-and-selina-2.jpg, /images/projects/tom-selina/thomas-and-selina-3.jpg">
        <p>
            Thomas and Selina are network marketeers who wanted a coaching and mentoring website to inspire people to become the best
            versions of themselves.
        </p>

        <p>
            They required a content management system to deliver a blogging platform, contact form and event management system. The
            design matched their family brand, and created the vibe they were looking for.
        </p>
    </div>
</article>